<!DOCTYPE html>
<html>
<head>
    <title>NYC Payment Portal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h3> NYC Payment Portal</h3>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills">
                        <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                        <li>@Html.ActionLink("SEARCH", "Index", "Employee")</li>
                        <li>@Html.ActionLink("ADD REQUEST", "AddRequest", "Employee")</li>
                        <li>@Html.ActionLink("REPORTS", "Index", "Student")</li>
                        <li>@Html.ActionLink("HELP?", "Index", "Payment")</li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="bg-black">
            <div class="cd-breadcrumb">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
        </div>
        <div style="width:auto" class="container body-content pull-left">
            @RenderBody()
        </div>
        @*<div class="row">
            <hr />
            <footer class="text-center">
                <b>NYC Health Payment Portal 2016</b>
            </footer>
        </div>*@
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


       

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>        

        <script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
        <script src='https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js'></script>

        <script src='//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js'></script>
        <script src='//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js'></script>
        <script src='//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js'></script>

</body>
</html>